*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Inizio contenuto sidebar */

.contenuto-sidebar {
    display: flex;
    position: relative;
}

.contenuto-sidebar .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: aliceblue;
    padding: 10px;
}


.contenuto-sidebar .sidebar h2 {
    color: blue;
    text-align: center;
    margin-bottom: 30px;
}


.contenuto-sidebar .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.contenuto-sidebar .sidebar ul li a {
    color: #2b2b2b;
}

.contenuto-sidebar .sidebar ul li a:hover{
    text-transform: uppercase;
    color: #2b2bb2;
    transition-duration: 0.3;
}

/* Fine contenuto sidebar */


/* contenuto sidebar-avatar */


 .contenuto-sidebar .sidebar .social-me {
     position: absolute;
     display: flex 1;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
}
